input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background: black;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  -webkit-text-fill-color: #fff;
}


.red{
    color: #4c4c4c;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}